APP_NAME='Currency Converter'
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=daily
LOG_LEVEL=error

DB_CONNECTION=sqlite
DATABASE_URL='/database/database.sqlite'

#CURRENCY_API_KEY=